<!DOCTYPE html>
<html>
<head>
  <title>Art Gala | <%= yield(:title) %></title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='header'>
  <%= image_tag('logo.png', :class => 'logo') %>
  <%= link_to 'Contact', 'mailto:gonepixel@gmail.com', :class => 'menu' %>
  <%= link_to 'About', about_path, :class => 'menu' %>
  <%= link_to 'Home', root_path, :class => 'menu' %>  
  <div class='title'>Art Gala:</div>
  <div class='subtitle'>Classic Masterpieces</div>
</div>

<div class='logo'>
</div>

<%= yield %>

<div class='footer'>
    <img src='assets/logo.png' style='width:150px;float:right;margin-right:100px;margin-top:30px'> 
    <div style='padding-top:20px;padding-left:120px'>
         <iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=90&amp;appId=241913142563486" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:60px;position:relative;" allowTransparency="true"></iframe>
         <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-text="Love art? Check out :" data-related="gonepixel" data-hashtags="art">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         <div class='footer-description'>
              GonePixel creates mobile applications for iOS and Android mobile applications. To contact us, please check us out at @gonepixel or send us an e-mail at gonepixel@gmail.com 
         </div>
    </div>
</div>
</body>
</html>
